extends layout

block content
  .body
    .col-5.body-container
      .col-12
        .row.body-container__tittle
          h1(style="font-size:5vw") Aerolineas Guacamaya
        .row
          h6(style="font-size:1.5vw") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium modi architecto itaque quo pariatur iusto error? Aspernatur pariatur vitae nihil, culpa tempora, fugiat eveniet assumenda facilis, unde laborum maxime sapiente odio? Modi voluptas quam ipsa totam incidunt maiores perferendis facere pariatur! Beatae asperiores tenetur possimus?
