extends layout

block content
  .body
    .col-5.container-bg
      .col-12
        .row.row-t
          h1(style="font-size:60px") Aerolineas Guacamaya
        .row
          h6(style="font-size:20px") Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, aliquam. Ipsum exercitationem vel aliquid magnam, alias qui quisquam laborum ad mollitia voluptatem inventore aliquam sunt possimus saepe, dignissimos eum sit voluptas quia non nam earum similique quibusdam dolor suscipit! Expedita, quibusdam laboriosam voluptatum quia nisi assumenda eveniet, ab consequuntur soluta unde dolore ipsum natus officia delectus, ex odio. Quasi nihil quas vero magni aliquid esse voluptates eum magnam laudantium vel ipsa dolore hic temporibus corporis laborum, dolores eos rerum saepe. Ut, corrupti aliquid? Iure exercitationem ipsam aperiam minima modi fugit dolor dolore velit, voluptates itaque, est consequuntur tenetur eaque eum?

