<!DOCTYPE html>
html(lang="es")
  head
    // preload
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style.css", type='text/css')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Aerolineas Guacamaya
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")

  body
    block header
      .header
        .row.header-banner
          .header-banner__img
            img(src="../images/logo.png",width="90%", height="70%")
        nav.navbar.navbar-expand-lg.main-navbar
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#Toggler" aria-controls="Toggler" aria-expanded="false" aria-label="Toggle navigation" style="background-color:pink")
            span.navbar-toggler-icon
          .collapse.navbar-collapse.mr-auto.mt-2.mt-lg-0(id="Toggler")
            .navbar-nav 
              a.nav-item.nav-link.main-navbar__link(href='/') Home
              a.nav-item.nav-link.main-navbar__link(href='#') Pasajes
              a.nav-item.nav-link.main-navbar__link(href='#') Vuelos
              a.nav-item.nav-link.main-navbar__link(href='/aviones') Aviones
              a.nav-item.nav-link.main-navbar__link(href='#') Tripulación
              a.nav-item.nav-link.main-navbar__link(href='#') Reportes
  
    block content

    block footer
      .footer
        .container-fluid.footer-container
          .col-4.footer-container__text
            h6 Lorem ipsum dolor sit amet.
          .col-4.footer-container__text
            h6 Copyright © 2019 Aerolineas Guacamaya. 
            h6 All rights reserved.
          .col-4.footer-container__img
            img(src="../images/twitter.png",width="40vw", height="40vh")
            img(src="../images/instagram.png",width="50vw", height="50vh")
            img(src="../images/fb.png",width="40vw", height="40vh")
            h6.footer-container__imgtext Síguenos: @AerolineasGuacamaya
        
    
    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js", defer)
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js", defer)
  


