@font-face{
  font-family: 'Bigtime';
  src: url('../fonts/Bigtime.ttf');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  width: 100%;
  padding: 0 10px;
  height: 100px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/aviones-4k.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.header-logo{
  flex: 1 1 300px;
  padding: 20px;
}

.header-logo img{
  max-width: 300px;
}

.header-navbar{
  font-family: Bigtime;
  color: white;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 10% 0;
  padding: 0;
}

ul.header-navbar li.header-navbar_list {
  list-style: none;
  margin: 0 10px;
  padding: 4px;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 19px;
  cursor: pointer;
  text-shadow: 2px 2px #000000;
}

ul.header-navbar li.header-navbar_list:hover ul.header-navbar_sublist{
  opacity: 1;
  visibility: visible;
  top:70px;
  width: 300px;
}

ul.header-navbar li.header-navbar_list ul.header-navbar_sublist {
  padding: 0;
  position: absolute;
  top:-100px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

ul.header-navbar li.header-navbar_list ul.header-navbar_sublist li{
  list-style: none;
  padding: 0;
  margin: 0 ;
  line-height: 30px;
  cursor: pointer;
  font-size: 15px;
  text-shadow: none;
}


.body{
  height: calc(100vh - 100px);
  width: 100%;
}


.footer{
  font-family: 'Open Sans';
  color: white;
  height: 100px;
  width: 100%;
  background-color: rgb(179, 177, 177);
  padding: 0;
  margin: 0;
  bottom: 50%;
  box-shadow: 1px 1px 20px 3px black ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-left {
  flex: 33.33%;
  text-align: center;
}

.footer-center {
  flex: 33.33%;
  text-align: center;
}

.footer-right{
  flex: 33.33%;
  text-align: center;
}

.content{
  display: grid;
  width: 40%;
  height: 550px;
  background-color:  rgb(206, 7, 7);
  margin: 3%;
  border-radius: 20%;
  box-shadow: 0px 0px 30px 0px black;
  justify-content: center;
  padding: 1.5%;
  font-family: Bigtime;
  text-shadow: 1px 2px #000000;
  color: white;
  font-size: 27px;
  text-align: center;
}

.tittle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-form{
  width: 50%;
  height: 100%;
  background-color: rgb(206, 7, 7);
  border-radius: 10%;
  box-shadow: 0px 0px 30px 0px black; 
  padding: 2%;
  font-family: Bigtime;
  display: block;
}

.content-form span{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    font-size: 25px;
    color: white;
}

.custom-content{
  display: flex;
  justify-content: center;
  margin: 5%;
}